*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 420px;
}

nav {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  background-color: #000000;
  width: 420px;
}

.restaurant-list {
  box-sizing: border-box;
  padding-top: 45px;

}

.location {
  box-sizing: border-box;
  display: inline-block;
  background-color: #E5E5E5;
  padding: 25px 15px 25px 15px;
  border-bottom: 1px solid #737373;
  width: 100%;
  align-content: center;
}
.location:hover{
  background-color: #aaa;
}
.content {
  box-sizing: border-box;
  display: inline-block;
  width:85%;
}

.content h1{
  font-size: 2em;
  font-weight: 700;
  line-height:
}

.content h3{
  font-size: 125%;
  font-weight: 500;
  line-height: 2em;
}

.arrow {
  box-sizing: border-box;
  display: inline-block;
  padding-left: 35px;
  width:14%;
}
